<% include ../partials/header %>

<main role="main" class="flex-shrink-0">

    <div class="container">
        <h1><%= campground.name %></h1>
        <hr>
        <div class="row">
            <!-- Left Side -->
            <div class="col-md-8">
                <!-- Campground Card -->
                <div style="border-top:5px solid rgb(39, 37, 37)" class="card mb-4">
                    <img class="bd-placeholder-img card-img-top" src="<%= campground.image %>"
                        alt="Picture of <%= campground.name %>">
                    <div class="card-body">
                        <p class="card-text text-muted"><%= campground.description %></p>
                        <div style="padding-bottom: 10px;" class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form action="/campgrounds/<%= campground.slug %>/like" method="POST">
                                    <% if (currentUser && campground.likes.some(function (like) { return like.equals(currentUser._id) })) { %>
                                    <button class="btn btn-sm btn-primary">
                                        <i class="fas fa-thumbs-up"></i> Liked
                                    </button>
                                    <% } else { %>
                                    <button class="btn btn-sm btn-secondary">
                                        <i class="fas fa-thumbs-up"></i> Like
                                    </button>
                                    <% } %>
                                </form>
                            </div>

                            <div class="pull-right">
                                <button style="color:blue; border-radius: 50%;" type="button"
                                    class="btn btn-xs btn-outline-primary" data-toggle="modal"
                                    data-target="#campgroundLikes">
                                    <span><i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-md-4">
                <div style="border-top:5px solid rgb(39, 37, 37)" class="card card-body bg-light">
                    <p class="lead"><strong>Author: </strong><span style="text-align: right;"><strong><a
                                    href="/users/<%= campground.author.id %>"><em><%= campground.author.username %></em></a></strong>
                        </span>
                    </p>

                    <p class="lead"><strong>Updated Time: </strong><span
                            style="text-align: right;"><%= moment(campground.createdAt).fromNow() %></strong>
                    </p>
                    <p class="lead"><strong>Price: </strong><span
                            style="text-align: right;"><strong>$<%= campground.price %> (USD) / Day</strong></span></p>
                    <hr>
                    <p style="text-align: center;">
                        Current campground rating: <strong><%= campground.rating.toFixed(2) %></strong>
                    </p>
                    <div class="thumbnail">
                        <div class="caption-full">
                            <% if (campground.rating === 0) { %>
                            <h5>
                                <em>No reviews yet.</em>
                            </h5>
                            <% } else { %>
                            <div style="text-align: center;">
                                <p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>">
                                    </span>
                                    <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>">
                                    </span>
                                    <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>">
                                    </span>
                                    <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>">
                                    </span>
                                    <br>
                                    <em>(total reviews: <%= campground.reviews.length %>)</em>
                                </p>
                            </div>
                            <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                            <hr>
                            <% }); %>

                            <% } %>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 10px;">
                        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <form action="/campgrounds/<%= campground.slug %>/edit" method="GET">
                            <button style="margin-right: 10px; padding: 7px; font-size: large; border-radius: 30%;"
                                class="btn btn-sm btn-warning">Update</button>
                        </form>
                        <form action="/campgrounds/<%= campground.slug %>/?_method=DELETE" method="POST">
                            <button style="margin-left: 10px; padding: 7px; font-size: large; border-radius: 30%;"
                                class="btn btn-sm btn-danger" type="submit">Remove</button>
                        </form>
                        <% } %>
                    </div>
                </div>

                <br>
                <br>

            </div>
            <!-- End Right Side -->


        </div>

        <div class="row">
            <div class="col-md-8">
                <!--COMMENT SECTION START-->
                <div style="border-top:5px solid rgb(39, 37, 37)" class="card card-body bg-light">
                    <!--Setting up the add new comment button that is used for collapsing-->
                    <!--Comment section title-->
                    <h4>
                        <strong>Comments <i class="fas fa-comment-dots"> </i>

                            <span class="text-right">
                                <a class="btn btn-success pull-right" role="button" data-toggle="collapse"
                                    href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                                    <span aria-hidden="true"></span>
                                    <i class="fas fa-plus"> </i> Add new comment
                                </a>
                            </span>
                        </strong>
                    </h4>

                    <hr style="border: 1px solid black;">

                    <!--Collapse Add a comment form START-->
                    <div class="collapse" id="collapseComment">
                        <div class="card card-body bg-light" style="border-left: 5px solid #00C851;">
                            <% if(!currentUser) { %>
                            <!--If the user is not logged in, direct him to the login page-->
                            <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the
                                login
                                page.</h5>
                            <% } %>
                            <% if(currentUser) { %>
                            <!--If the user is logged in, show the new comment form-->
                            <h4>Write your comment <i class="fas fa-pencil-alt"> </i></h4>
                            <form id="add-comment-form" action="/campgrounds/<%= campground.slug %>/comments"
                                method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" disabled
                                        value="<%= currentUser.username %>">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="comment[text]"
                                        placeholder="Write your comment..." form="add-comment-form" rows="5"
                                        cols="70"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-sm">Comment <i
                                            class="fas fa-comment-dots"></i></button>
                                </div>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <!--Collapse Add a comment form END-->

                    <hr>

                    <!--Check if there are comments, if there are none say no comments.-->
                    <% if (campground.comments.length === 0) { %>

                    <em style="color: grey;">No comments yet.</em>
                    <% } %>

                    <!--Display comments by looping through them-->
                    <% campground.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>
                                <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                                <!--If the current user owns the comment, change the color of the user icon-->
                                <i style="color: orange;" class="fas fa-user"></i>
                                <% } else { %>
                                <!--Else just display it black-->
                                <i class="fas fa-user"></i>
                                <% } %>
                                <!--Print out the author username-->
                                <a href="/users/<%=comment.author.id%>"><%= comment.author.username %></a>
                            </strong>
                            <!--Show when the comment was made-->
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <!--Printing the comment-->
                            <p><%= comment.text %></p>
                            <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                            <% if ((currentUser && currentUser._id.equals(comment.author.id))||(currentUser && currentUser.isAdmin)) { %>
                            <!--Edit button used for collapsing the edit comment form-->
                            <a class="btn btn-xs btn-outline-warning" role="button" data-toggle="collapse"
                                href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                                aria-controls="collapse<%= comment._id %>"><i style="color:black" class="fas fa-edit">
                                    Edit</i>
                            </a>
                            <!--Delete comment button-->
                            <form id="delete-form"
                                action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST" style="display: inline;">
                                <button class="btn btn-xs btn-outline-danger"><i style="color:black"
                                        class="fas fa-calendar-times"> Delete</i></button>
                            </form>
                            <!--Edit comment form-->
                            <div class="collapse" id="collapseEdit<%= comment._id %>">
                                <div class="card card-body bg-light"
                                    style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                                    <h4>Edit your comment <i class="fas fa-edit"></i>
                                    </h4>
                                    <form id="edit-comment-form"
                                        action="/campgrounds/<%= campground.slug %>/comments/<%= comment._id %>?_method=PUT"
                                        method="POST">
                                        <div class="form-group">
                                            <input class="form-control" type="text" disabled
                                                value="<%= currentUser.username %>">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment[text]"
                                                placeholder="Your comment text..." form="edit-comment-form" rows="5"
                                                cols="70"><%= comment.text %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-sm">Edit comment <i
                                                    class="fas fa-comment-dots"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                            <hr>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <!--COMMENT SECTION END-->

                <br>
                <br>

                <!-- REVIEWS SECTION START -->
                <div style="border-top:5px solid rgb(39, 37, 37)" class="card card-body bg-light">
                    <h4>
                        <strong>Leave a review <i class="fas fa-star"> </i>
                            <span class="text-right">
                                <a class="btn btn-success pull-right <% if (currentUser && campground.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                                    role="button" data-toggle="collapse" href="#collapseReview" aria-expanded="false"
                                    aria-controls="collapseComment">
                                    <span aria-hidden="true">
                                        <i class="fas fa-plus"> </i> Write a New Review
                                </a>
                            </span>
                        </strong>
                    </h4>
                    <hr style="margin-top: 0; border: 1px solid black;">
                    <!--Collapse Add a review form START-->
                    <div class="collapse" id="collapseReview">
                        <div class="card card-body bg-light" style="border-left: 5px solid #00C851;">
                            <% if(!currentUser) { %>
                            <!--If the user is not logged in, direct him to the login page-->
                            <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the
                                login
                                page.</h5>
                            <% } %>
                            <% if(currentUser) { %>
                            <!--If the user is logged in, show the new review form-->
                            <h4>Write your review <i class="fas fa-pencil-alt"> </i></h4>
                            <form id="add-comment-form" action="/campgrounds/<%= campground.slug %>/reviews"
                                method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" disabled
                                        value="<%= currentUser.username %>">
                                </div>
                                <div class="form-group">

                                    <fieldset class="starability-basic form-group" id="rating">
                                        <div>
                                            &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                                            <input type="radio" id="first-rate5" name="review[rating]" value="5"
                                                checked />
                                            <label for="first-rate5" title="5 stars - Amazing">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                                            </label>
                                            &emsp;
                                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                            <label for="first-rate4" title="4 stars - Very good">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                                            </label>
                                            &emsp;
                                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                            <label for="first-rate3" title="3 stars - Average">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                                            </label>
                                            &emsp;
                                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                            <label for="first-rate2" title="2 stars - Not good">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                                            </label>
                                            &emsp;
                                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                            <label for="first-rate1" title="1 star - Terrible">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                                            </label>
                                        </div>


                                        <div>

                                        </div>

                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" type="text" name="review[text]"
                                        placeholder="Write a review for this campground..." rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">Submit a Review</button>
                                </div>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <!--Collapse Add a review form END-->

                    <hr>

                    <div class="caption-full">
                        <!--Review section title-->
                        <% if (campground.rating === 0) { %>
                        <h5>
                            <em style="color: grey;">No reviews yet.</em>
                        </h5>
                        <% } else { %>

                        <% campground.reviews.slice(0, 5).forEach(function(review){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong>
                                    <% if (currentUser && currentUser._id.equals(review.author.id)) { %>
                                    <!--If the current user owns the comment, change the color of the user icon-->
                                    <i style="color: orange;" class="fas fa-user"></i>
                                    <% } else { %>
                                    <!--Else just display it black-->
                                    <i class="fas fa-user"></i>
                                    <% } %>
                                    <a href="/users/<%=review.author.id%>"><%= review.author.username %></a>
                                </strong>
                                <span class="pull-right"><em><%= review.updatedAt.toDateString() %></em></span>
                                <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>


                                <p style="text-align: justify; word-wrap: break-word; font-size: large;">
                                    <%= review.text %>
                                </p>
                                <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-outline-warning" role="button" data-toggle="collapse"
                                    href="#collapseEdit<%= review._id %>" aria-expanded="false"
                                    aria-controls="collapse<%= review._id %>"><i style="color:black"
                                        class="fas fa-edit">
                                        Edit</i></a>
                                <form id="delete-form"
                                    action="/campgrounds/<%=campground.slug %>/reviews/<%=review._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-xs btn-outline-danger"><i style="color:black"
                                            class="fas fa-calendar-times"> Delete</i></button>
                                </form>
                                <!--Edit comment form-->
                                <div class="collapse" id="collapseEdit<%= review._id %>">
                                    <div class="card card-body bg-light"
                                        style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                                        <h4>Edit your Review <i class="fas fa-edit"></i>
                                        </h4>
                                        <form
                                            action="/campgrounds/<%= campground.slug %>/reviews/<%= review._id %>?_method=PUT"
                                            method="POST">
                                            <div class="form-group">
                                                <input class="form-control" type="text" disabled
                                                    value="<%= currentUser.username %>">
                                            </div>
                                            <div class="form-group">

                                                <fieldset class="starability-basic form-group" id="rating">
                                                    <div>
                                                        &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
                                                        <input type="radio" id="first-rate5" name="review[rating]"
                                                            value="5" <% if (review.rating === 5) { %> checked
                                                            <% } %> />
                                                        <label for="first-rate5" title="5 stars - Amazing">
                                                            <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                                                        </label>
                                                        &emsp;
                                                        <input type="radio" id="first-rate4" name="review[rating]"
                                                            value="4" <% if (review.rating === 4) { %> checked
                                                            <% } %> />
                                                        <label for="first-rate4" title="4 stars - Very good">
                                                            <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                                                        </label>
                                                        &emsp;
                                                        <input type="radio" id="first-rate3" name="review[rating]"
                                                            value="3" <% if (review.rating === 3) { %> checked
                                                            <% } %> />
                                                        <label for="first-rate3" title="3 stars - Average">
                                                            <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                                                        </label>
                                                        &emsp;
                                                        <input type="radio" id="first-rate2" name="review[rating]"
                                                            value="2" <% if (review.rating === 2) { %> checked
                                                            <% } %> />
                                                        <label for="first-rate2" title="2 stars - Not good">
                                                            <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                                                        </label>
                                                        &emsp;
                                                        <input type="radio" id="first-rate1" name="review[rating]"
                                                            value="1" <% if (review.rating === 1) { %> checked
                                                            <% } %> />
                                                        <label for="first-rate1" title="1 star - Terrible">
                                                            <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                                                        </label>
                                                    </div>

                                                    <div>

                                                    </div>

                                                </fieldset>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" type="text" name="review[text]"
                                                    placeholder="Write a review for this review..."
                                                    rows="5"><%= review.text %></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-warning btn-sm">Edit Review <i
                                                        class="fas fa-comment-dots"></i></button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <% } %>


                                <hr>
                                <% }); %>
                                <!-- <div style="margin-bottom: 10px;">
                                    <h4><a href="/campgrounds/<%= campground.slug %>/reviews"><i class="fa fa-search"
                                                aria-hidden="true"></i> See all reviews</a></h4>
                                </div> -->
                                <% } %>
                                <div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <!-- REVIEWS SECTION END -->
            </div>

            <div class="col-md-4">
                <div id="map"></div>
            </div>
        </div>
        <!-- Campground Likes Modal -->
        <div id="<%= 'campgroundLikes' + campground._id %>" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle"><%= campground.likes.length %> Like by:
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <% campground.likes.forEach(function(like) { %>
                            <tr>
                                <td><span class="badge"><i class="fas fa-user"></i></span><a
                                        href="/users/<%= like.id %>"><%= like.username %></a></td>
                            </tr>
                            <% }); %>
                            <% if (campground.likes.length === 0) { %>
                            <tr>
                                <td>No one likes yet.</td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</main>

<!-- <script>
    function initMap() {
      var lat = <%= campground.lat %>;
      var lng = <%= campground.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });s
    }
  </script> -->
<script>
    function initMap() {
        //MAP OPTIONS
        var options = {
            zoom: 8,
            center: {
                lat: 28.7041,
                lng: 77.1025
            }
        };
        //NEW MAP
        var map = new google.maps.Map(document.getElementById('map'), options);

        var markers = [
            {
                coords: { lat: 28.715770, lng: 77.176491 },
                content: "<h4>E-book Store</h4>"
            }
        ];
        for (var i = 0; i < markers.length; i++) {
            addMarker(markers[i]);
        }

        //ADD MARKER FUNCTION
        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
                // icon:'';    We can chnage the icon of the marker using this wherein we need to provide a link to the image 
            });
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                });
                marker.addListener("click", function () {
                    infoWindow.open(map, marker);
                });
            }
        }
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQJbML2d8XY-eRNk1-icAXZ7sBdnj_XCs&callback=initMap">
    </script>

<% include ../partials/footer %>