<%include ../partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1><%=user.firstName+" "+user.lastName%></h1>
            <div class="thumbnail">
                <img src="<%=user.avatar%>" alt="user profile image">
                <div class="caption"><a href="mailto:<%=user.email%>"><%=user.email%></a></div>
            </div>
            <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
            This is a good post and we are going to display all the posts by that user on the user profile page.
        </div>
        <div class="col-md-8">
            <div>
                <h3><%=user.username%>'s Campgrounds</h3>
                <ul>
                    <%campgrounds.forEach(function(campground){%>
                        <ul>
                            <li>
                                <a href="/campgrounds/<%=campground.id%>"><%=campground.name%></a>
                            </li>
                        </ul>
                    <%});%>
                </ul>
            </div>
            <div>
                <h3><%=user.username%>'s Followers</h3>
                <ul>
                    <% user.followers.forEach(function(follower){%>
                        <ul>
                            <li>
                                <a href="/users/<%=follower.id%>"><%=follower.username%></a>
                            </li>
                        </ul>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</div>


<%include ../partials/footer%>